

    

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header {
    position: fixed;
    width: 100%;
    height: 180px;
    padding-left: 260px;
    display: grid;
    grid-template-columns: 10fr 8fr;
    grid-auto-rows: 80px;
    gap: 10px;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0.1), transparent);
    border-image-slice: 1;
    background-color: white;

} 



.header-content-1 {
   padding-left: 10px;
   display: grid;
   grid-template-columns: 40px minmax(150px, 600px);
   align-items: center;
   gap: 10px;
   padding: 0px 30px 30px;
}
.top-icons {
    height: 30px;
}
.profile {
    height: 80px;
    border-radius: 40px;
}
input {
    border-radius: 17px;
    height: 30px;
    outline: none;
    background-color: azure;
    
}

input:focus {
    border: 2px solid #0a4b8d; 
}

.bell {
    height: 40px;
}

.profile1 {
    height: 60px;
    border-radius: 30px;
    margin-left: 30px;
}

.topp {
    margin-left: 20px;
}

.header-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    
}
.header-content-3 {
    display: flex;
    justify-content: start;
    padding-left: 100px;
    gap: 30px;

}

.hi {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.musab {
    font-size: 30px;
}

.header-content-4 {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    align-items: end;
}

button {
   background-color:  rgb(0, 150, 255);
   color: white;
   height: 50px;
   margin-left: 10px;
   border-radius: 40px;
   border: none;
}

button:hover {
    background-color: rgb(8, 128, 214);
    box-shadow: 10px 5px 10px rgba(0,0,0,0.1);
}

button:active {
    transform: scale(0.98); 
}


.sidebar {
    background-color:  rgb(0, 150, 255);
    position: fixed;
    height: 100vh;
    width: 210px;
    display: grid;
    grid-template-rows: 100px 400px 150px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 11px;
    align-content: start;
    gap: 10px;

} 

.topsidebar-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    padding-right: 30px;
}
.Dashboard {
    color: white;
    font-size: 30px;

}
.logo {
    height: 50px;
    display: inline;
    filter: brightness(0) invert(1);
}

.sidebar-content {
   
    margin: 0px;
   
    
}


.icons {
    display: inline;
    filter: brightness(0) invert(1);
    height: 30px;


}

.sidebarp {
    display: inline;
    margin-left: 10px;
}
.sidebar-contents {
    color: white;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
.your {
    position: absolute;
    
}

.ana {
    position: absolute;
    right: 10px;
}

.main {
background-color: rgb(235,239,245);
height: 100vh;
width: 100vw;
padding-top: 220px;
padding-left: 240px;
display: inline-grid;
grid-template-columns: 6fr 4fr;
gap: 20px;
}

.main-content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    padding-top: 65px;
    grid-auto-rows: 210px;
}

.main-content2 {
    height: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-top: 70px;
    
}

.maincontent-contents {
    background-color: aliceblue;
    border-radius: 20px;
    border-left: 10px solid rgb(60, 80, 45);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;

    
    
    
}




.main-content-content1 {
   
   background-color: white;
   border-radius: 10px;
   padding: 20px;
}

.main-content-content2 {
   padding: 10px;
   background-color: white;
   border-radius: 10px;
   display: flex;
   flex-direction: column;

}

.trending {
    display: grid;
    grid-template-columns: 100px 100px;
}

.mcontents {
  border-bottom: 1px solid grey;
  margin: 10px;
}

.mcontent {
  
  margin: 10px;
}
.share, .eye, .star {
    height: 20px;
    margin-right: 20px;
}

.div3 {
    display: flex;
    justify-content: end;
}

.accounts {
    height: 60px;
    border-radius: 30px;
    
}



