body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.header {
    position: fixed;
    background-color: rosybrown;
    width: 100%;
    height: 250px;
    padding-left: 260px;
    display: grid;
    grid-template-columns: 10fr 7fr;
    grid-auto-rows: 100px;
    gap: 10px;

} 



.header-content {
   background-color: blueviolet;
   padding-left: 10px;
}

.sidebar {
    background-color: aqua;
    position: fixed;
    height: 100vh;
    width: 250px;
    display: grid;
    grid-template-rows: 150px 300px 150px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 11px;
    align-content: start;
    gap: 10px;

} 

.sidebar-content {
    background-color: aquamarine;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.sidebar-contents {
    background-color: rgb(22, 19, 16);
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}




.logo {
    height: 60px;
    display: inline;
}
.main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px; 
    padding-top: 260px; 
    gap: 10px;
    
}
.main-content1 {
    flex: 2;
    display: grid;
    background-color: blue;
    gap: 10px;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
    justify-content: space-evenly;
    align-content: space-evenly;

}
.main-content2 {
    flex: 1;
    background-color: blue;
    display: grid;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item-content1 {
    
    background-color: red;
    
}
.item-content2 {
    background-color: red;
}

